{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block body %}
            <h2>{{data.username}}</h2>
            <div class="subtitle">
                <h5> Keep track of the things you want to do in the next years</h5>
            </div>
            <p> {{user_b_list.name}} goals before {{user_b_list.completed_by}}</p>
            <div class="btn-group btn-group-xs">
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-primary">Delete</button>
            </div>
            {% if user_b_list.list_items %}
            <ul class="list-group">
                {% for bucket_list_item in user_b_list.list_items %}
                    <li class="list-group-item">
                        <label><input type="checkbox" value="">{{ bucket_list_item.name }}</label>
                    </li>
                {% endfor %}
            </ul>
            {% else %}
                    <p> You have no bucket list items added to this Bucket List</p>
            {% endif %}
            <a href="{{url_for('addbucketlistItem',b_id=b_id)}}">
                <button type="submit" class="btn btn-lg btn-primary btn-block">
                    Add new bucket list item
                </button>
            </a>
 {% endblock %}
