{% extends "base_2.html" %}
{% block title %} Home {% endblock %}
{% block body %}
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>{{ data.username }}</h2>
                </div>
                <div class="panel-body">
                    Keep track of the things you want to do in the next years
                </div>
            </div>
    </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Create Bucket List Item
                </div>
                <div class="panel-body">
                    <form class="form-group" method="POST" action="{{url_for('app_blueprint.addbucketlistitem',b_id=b_id)}}">
                        <textarea class="form-control" rows="5" id="comment" name="blist_item"></textarea>
                        <div class="form-spacing">
                        <button type="submit" class="btn btn-lg btn-primary btn-block">
                            Add new bucket list item
                        </button>
                    </div>
                    </form>
            </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}
 
