{% extends "base_2.html" %}
{% block title %} Home {% endblock %}
{% block body %}
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>{{ data.username }}</h2>
                </div>
                <div class="panel-body">
                <p> Keep track of the things you want to do in the next years</p>
            </div>
            </div> 
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Edit Bucket List Item
            </div>
            <div class="panel-body">
                <form class="form-group" method="POST" action="{{url_for('app_blueprint.editbucketlistitem',b_id=b_id,item_id=item_id)}}">
                    <input class="form-control" rows="5" id="comment" name="blist_item" value ="{{data.bucket_lists[b_id].list_items[item_id].name}}">
                    </input>
                    <div class='form-spacing'>
                        <button type="submit" class="btn btn-lg btn-primary btn-block">
                        Edit bucket list item
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
 