{% extends " base.html" %}
{% block title %} Home {% endblock %}
{% block body %}
    <h2>Paul Nyondo</h2>
    <div class="subtitle">
        <p> Keep track of the things you want to do in the next years</p>
    </div>
    <ul class="list-group">
        <li class="list-group-item">
            Career 
        </li>
        <li class="list-group-item">
            Spiritual 
        </li>
        <li class="list-group-item">
            Adventure 
        </li>
        <li class="list-group-item">
            Relationship
        </li>
    </ul>
    <button type="submit" class="btn btn-lg btn-primary btn-block">
        Add new bucket list
    </button>
{% endblock %}
