{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block body %}
    <div class="row">
        <div class="col-sm-8">   
            <div class="jumbotron">
                <h1>Bucket List</h1>
                <p>Track, Record and Share things you want to do before a certain age.</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-signin" method="POST" action="{{ url_for('app_blueprint.signup')}}">
                        <div>
                            <label class="sr-only" for="username">Username:</label>
                            <input type="text" class="form-control" id="email" placeholder="Username" required name="username">
                        </div>
                        <div class="form-spacing">
                            <label class="sr-only" for="password">Password:</label>
                            <input type="password" class="form-control" id="email" placeholder="Password" required name="password">
                        </div>
                        <div class="form-spacing">
                            <input type="password" class="form-control" id="email" placeholder="Repeat Password" required name="rpassword">
                        </div>
                        {% if error %}
                            <p class="error">{{ error }}</p>
                        {% endif %}
                        <div class="buttonSignStyle">
                            <button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
                        </div>
                </form>
                </div>
        </div>
        </div>
    </div>
  {% endblock %}
